<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

  <p>
    <strong>Total quantity:</strong>
    <%= book.total_quantity %>
  </p>

  <p>
    <strong>Issued quantity:</strong>
    <%= book.issued_quantity %>
  </p>

</div>
